@page "/Articulo/Index"
@using RegistroArticulo.Models
@using RegistroArticulo.Services

@inject RegistrosService registrosService

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header">
            <h4 class="card-title"><b>Listado <de> Articulos</de> </b></h4>
        </div>
        @*Body*@
        <div class="card-body ">
          

            <div class="row">
                @*filtrar*@
               <div class="col-3">
                   <label class="form-label"><b>Filtro</b></label>
                    

               </div>
             
               @*Valor filtro*@
               <div class="col-3">
                <label class="form-label"><b>B&uacute;squeda</b></label>
               </div>
            </div>
            @*Imputs y Filtrado*@
            <div class="row">
                @*Filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Selecione una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Nombre">Nombre</option>
                        

                    </InputSelect>
                </div>
                @*Valor filtro*@
                <div class="col-3">
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="ValorFiltro"></InputText>
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
                @*Boton Restablecer*@
                <div class="col-auto">
                    <button type="button"
                            class="btn btn-outline-secondary bi bi-arrow-clockwise"
                            @onclick="Restablecer">
                    </button>

                </div>

                @*Boton Crear*@
                <div class="col text-end">
                    <a href="/Articulo/Create">
                        <button type="button" class="btn btn-outline-success bi bi-plus">Crear</button>
                    </a>

                </div>


            </div>
            @*Tabla*@
            <table class="table table-bordered mt-5">
                @*Encabezado de la tabla*@
                <thead>
                    <tr>
                        <th>ArticuloId</th>
                        <th>NombreArticulo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Observar</th>
                        <th>Eliminar</th>
                    </tr>


                </thead>
                @*Datos de la tabla*@
                <tbody>
                    @foreach(var articulo in ListaArticulos){
                        <tr>
                            <td class="text-center">@articulo.ArticuloId</td>
                            <td class="text-center">@articulo.NombreArticulo</td>
                            <td class="text-center">@articulo.Descripcion</td>
                            <td class="text-center">@articulo.Cantidad</td>
                            <td class="text-center">@articulo.Precio</td>
                            
                            
                            @*Observar*@
                            <td>
                                <a href="/Articulo/Details/@articulo.ArticuloId">
                                    <button type="button" class="btn btn-outline-primary bi bi-eye-fill"></button>
                                </a>
                            </td>
                            @*Editar*@
                            <td>
                                <a href="/Articulo/Edit/@articulo.ArticuloId">
                                    <button type="button" class="btn btn-outline-primary bi bi-pencil-square"></button>
                                </a>
                            </td>
                            @*Eliminar*@
                            <td>
                                <a href="/Articulo/Delete/@articulo.ArticuloId">
                                    <button type="button" class="btn btn-outline-primary bi bi-trash2"></button>
                                </a>
                            </td>

                        </tr>
                    }

                </tbody>
               

             
                    
            </table>
           

           
 
           
        </div>
        @*Footer*@
        <div class="card-footer">
            <h6><b>Total de Articulos: </b>@ListaArticulos.Count</h6>
        </div>
    </div>
    
</div>

@code{
    public List<Articulos> ListaArticulos { get; set; } = [];

    public string Filtro { get; set; } = string.Empty;

    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync(){
        ListaArticulos = await registrosService.Listar(e => e.ArticuloId > 0);
    }

    private async Task Restablecer(){
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        ListaArticulos = await registrosService.Listar(e => e.ArticuloId > 0);

    }

    private async Task Buscar(){
        if (ValorFiltro != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int id))
            {
                ListaArticulos = await registrosService
                .Listar(e => e.ArticuloId == id);
            }
            else if (Filtro == "Nombre")
            {
                ListaArticulos = await registrosService
                .Listar(e => e.NombreArticulo.Contains(ValorFiltro));
            }
        }
        else
            ListaArticulos = await registrosService
            .Listar(e => e.ArticuloId > 0);


    }
    
}

